---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import { Button } from '@/components/starwind/button'
import { Card, CardContent, CardFooter, CardHeader, CardTitle } from '@/components/starwind/card'

type Props = {
    item: CollectionEntry<'monuments'>
    typeLabel: string
}

const { item, typeLabel } = Astro.props
---

<Card class="gap-5">
    <CardHeader class="px-0">
        <div class="relative h-69 overflow-hidden bg-muted">
            <Image width="335" height="276" src={item.data.image} alt={item.data.title} class="h-full w-full object-contain" />
            <span class="absolute top-4 left-4 rounded bg-white px-3 py-2 text-secondary">{typeLabel}</span>
        </div>
    </CardHeader>

    <CardContent class="space-y-2">
        <CardTitle class="mb-4">{item.data.title}</CardTitle>
        <p>
            <span class="font-semibold">Материалы:</span>
            {item.data.materials}
        </p>
        <p>
            <span class="font-semibold">Размеры:</span>
            {item.data.dimensions}
        </p>
    </CardContent>

    <CardFooter>
        {
            item.data.price?.trim() ? (
                <p class="text-xl font-heading">от {item.data.price} ₽</p>
            ) : (
                <Button href="/contacts" variant="primary" size="md" class="w-full">
                    Узнать цену
                </Button>
            )
        }
    </CardFooter>
</Card>
